/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*{
    box-sizing: border-box;
 }
html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}
:where(h1, h2, h3, h4, p){
    margin: 0;
    padding: 0;
}
:where(h1, h2){
    margin-bottom: 24px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: clamp(3.125rem, 0.893rem + 5.952vw, 6.25rem) 20px;
}
h2{
    font-size: clamp(2rem, 1.464rem + 1.429vw, 2.75rem);
}
p{
    font-weight: 600;
    line-height: 1.5rem;
    color: rgb(154 153 141);
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(40, 42, 49);
    border-radius: 50px;
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
}
ul{
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}
.highlight{
    color: #c0f928; 
}

/* HERO */

.hero{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: -80px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 10%, rgba(121, 154, 39, 0.418) 50%, rgba(0, 0, 0, 1) 90%);
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: blur(300px);
}
.hero .container{
    display: grid;
    align-items: center;
    /* grid-template-columns: 1fr; */
    gap: 3.125rem;
    color: white;
    padding: 100px 0 50px 0;
    margin: 0 20px;
}
.text p{
    margin-bottom: 40px;
}
.graphic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.base{
    width: 200px;
    height: 200px;
    background-color: rgb(121, 154, 39);
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-basis: 500px;
    flex-shrink: 3;
}
.button-container p{
    font-weight: 600;
    margin-bottom: 16px;
}
button{
    background-color: #c0f928;
    color: black;
    border: none;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    /* width: 100%; */
}
h1{
    font-size: clamp(3rem, 2.464rem + 1.429vw, 3.75rem);
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}
.statistics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}
.statistics h2{
    color: #c0f928;
    font-size: 1.875rem;
    margin-bottom: 5px;
}
.statistics p{
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 0;
}
@media (min-width: 768px){
    .hero{
        height: 100vh;
    }
    .hero .container{
        grid-template-columns: 1fr 1fr;
    }
}

/* SERVICES */

.services{
    display: flex;
    justify-content: center;
    width: 100%;
}
.services .container{
    padding-left: 0;
    padding-right: 0;
    margin: 0 20px;
    display: grid;
    gap: 3.125rem;
}
.intro{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.intro > span, .intro > p{
    color: #c0f928;
    font-size: 0.875rem;
    font-weight: 400;
    /* letter-spacing: 0.1rem; */
    text-transform: uppercase;
}
.card-container{
    display: grid;
    gap: 0.8rem;
}
.card{
    background-color: rgb(18, 18, 11);
    padding: 2rem;
    border: 1px solid rgb(41, 42, 34);
    border-radius: 30px;
}
.card span{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(154 153 141);
}
.card h3{
    margin: 1.5rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.card p{
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.card-span{
    background-color: #c0f928;
    color: black;
}
.card-span span, .card-span p{
    color: black;
}
.card-span div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
    gap: 0.5rem;
}




/* More Services */

.more-services{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(16, 23, 49);
}
.more-services .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 4rem;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
    max-width: 1480px;
}
.item-1{
    order: 2;
}
.item-2{
    order: 1;
}
.more-services .card{
    background-color: rgb(8, 13, 32);
}
.more-services .textcontent{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    text-align: end;
}
@media (max-width: 768px){
    .item-1{
        order: 1;
    }
    .item-2{
        order: 2;
    }
    .more-services .container{
        gap: 2rem;
    }
    .more-services .textcontent{
        align-items: flex-start;
        text-align: start;
        padding: 0 20px;
    }
    .more-services .card-container{
        padding: 0 20px;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/* Our Process */

.our-process{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgb(40, 42, 49);
    border-bottom: 1px solid rgb(40, 42, 49);
}
.our-process .container{
    align-items: center;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
.our-process span{
    color: #c0f928;
}
.our-process h2{
    margin-bottom: 100px;
    padding: 0 20px;
    text-align: center;
}
.our-process h3{
    font-size: 1.5rem;
}
.our-process-grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 20px;
    column-gap: 2rem;
    row-gap: 6rem;
}
.our-process-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card-img > img{
    height: 50px;
    width: auto;
    margin-bottom: 1rem;
}
.card-text div > .material-symbols-outlined{
    font-size: 50px;
    margin-right: 1rem;
}
.card-text div{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.last-card{
    justify-content: space-between;
}
.last-card .material-symbols-outlined{
    font-size: 50px;
}
@media (max-width: 768px){
    .our-process h2{
        margin-bottom: 50px;
    }
    .our-process-grid{
        row-gap: 2rem;
    }
    .card-text div{
        justify-content: center;
    }
    .card-text div > .material-symbols-outlined{
        font-size: 25px;
    }
}

/* Entre em contato */

.getintouch{
    display: flex;
    justify-content: center;
    background-color: rgb(16, 23, 49);
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid rgb(40, 42, 49);
}
.getintouch .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 4rem;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
    max-width: 1480px;
}
.getintouch .textcontent > p{
    margin-bottom: 2.5rem;
}
.contact-option-container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.contact-option{
    display: flex;
    align-items: center;
    gap: 0.87rem;
}
.contact-option h3{
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}
.svg-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 249, 40, 0.418);
    border-radius: 4px;
    width: 36px;
    height: 36px;
}
.material-symbols-outlined{
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #c0f928;
}
.form-container{
    box-sizing: border-box;
    padding: 0 20px;
}
form{
    display: flex;
    flex-direction: column;
    padding: clamp(1rem, 0.286rem + 1.905vw, 2rem);
    gap: 1.25rem;
    background-color: rgb(8, 13, 32); 
    border: 1px solid rgb(40, 42, 49);
    border-radius: 8px;
    font-size: 0.80rem;
    font-weight: 500;
}
form div{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 6px;
    
}
input, select, textarea{
    box-sizing: border-box;
    padding: 11px 14px;
    background-color: rgb(16, 23, 49);
    border: 1px solid rgb(40, 42, 49);
    border-radius: 4px;
    width: 100%;
    font-size: 0.9375rem;
    color: white;
    outline: none;
}
input:autofill, select:autofill, textarea:autofill{
    background-color: rgb(16, 23, 49);
}
select{
    cursor: pointer;
    padding-right: 36px;
    color: white;
}
textarea{
    resize: vertical;
    min-height: 150px;
}
form button{
    padding: 13px 24px;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-transform: none;
    margin-top: 0.25rem;
}
@media (max-width: 768px){
    .getintouch .container{
        gap: 2rem;
    }
    .getintouch .textcontent{
        padding: 0 20px;
    }
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
footer .container{
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}