*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    --bar-width: 35px;
    --bar-height: 4px;
    --hamburger-gap: 6px;
    --foreground: white;
    --background: #000;
    --alt-background: rgb(18, 18, 11);
    --neon-green: #c0f928;
    --border: 2px solid rgb(41, 42, 34);
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}
:where(h1, h2, h3, h4, p){
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background);
    color: white;
}
section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: clamp(3.125rem, 0.893rem + 5.952vw, 6.25rem) 0;
    margin: 0 20px;
}
h1{
    font-size: clamp(4rem, 3.599rem + 1.556vw, 5rem);
    line-height: 1.2;
    letter-spacing: -0.05em;
    font-weight: 700;
    margin-bottom: clamp(2rem, 1.8rem + 0.778vw, 2.5rem);
}
@media (min-width: 768px){
    h1{
        line-height: 0.9;
    }
}
h2{
    font-size: clamp(2rem, 1.599rem + 1.556vw, 3rem);
    margin-bottom: 1.5rem;
}
h3{
    font-size: clamp(1.5rem, 1.3rem + 0.778vw, 2rem);
    font-weight: 500;
}
p{
    font-size: clamp(1rem, 0.95rem + 0.195vw, 1.125rem);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: rgb(154 153 141);
}
ul{
    font-size: clamp(1rem, 0.95rem + 0.195vw, 1.125rem);
    margin: 0;
    line-height: 1.5;
    letter-spacing: -0.03em;
    font-weight: 600;
    list-style-type: none;
}
li{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
li .bi-arrow-right-short{
    color: var(--neon-green);
    width: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
    height: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
}
li .bi-arrow-right-short-alt{
    color: var(--background);
    width: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
    height: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
header .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(20px);
    border: var(--border);
    border-radius: 50px;
    margin: 0 20px;
    height: 50px;
}
.burger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: 20px;
    z-index: 10001;
}
.burger-menu:has(input:checked) {
  --foreground: #000;
  --background: white;
}
.burger-menu:has(input:focus-visible)::before,
.burger-menu:has(input:focus-visible)::after,
.burger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}
.burger-menu::before, 
.burger-menu::after, 
.burger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: right center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing),  translate var(--animation-timing),
    background-color var(--animation-timing);
}
.burger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.burger-menu:has(input:checked)::before{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}
.burger-menu:has(input:checked)::after{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}
.burger-menu input:checked{
    opacity: 0;
    width: 0;
}
.sidebar{
    transition: translate var(--animation-timing);
    translate: 150%;
    padding: 0.5rem 1rem;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--neon-green);
    color: black;
    width: 100%;
    height: 400px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 30px 0 30px 30px;
}
.burger-menu:has(input:checked) + .sidebar{
    translate: 0;
    
}
header a{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.125rem;
    letter-spacing: normal;
    line-height: 1.175;
    font-weight: 700;
    gap: 0.25rem;
    color: white;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
nav a:hover{
    color: var(--neon-green);
}
#mobilenav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}
#mobilenav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 0;
    list-style: none;
}
#mobilenav li a{
    font-size: 2rem;
    color: black;
}
#desktopnav{
    display: none;
}
header ul{
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}
.highlight{
    color: var(--neon-green); 
}
@media (min-width: 768px){
    #desktopnav{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
    .sidebar{
        display: none;
    }
}

/* HERO */

.hero{
    height: 100%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 10%, rgba(121, 154, 39, 0.418) 50%, rgba(0, 0, 0, 1) 90%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media (min-width: 1020px){
    .hero{
        background-image: url(../assets/images/hero-marketing-hGVvPZLH.jpg); 
        background-size: cover;
        background-position: right;
    }
}
.hero .container{
    display: grid;
    align-items: center;
    padding: 100px 0 50px 0;
    margin: 0 20px;
}
.graphic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.base{
    width: 200px;
    height: 200px;
    background-color: #799a27;
}button a {
    text-decoration: none;
    color: var(--background);
}
button{
    background-color: var(--neon-green);
    color: var(--background);
    border: none;
    padding: 16px 20px;
    font-size: clamp(1rem, 0.95rem + 0.195vw, 1.125rem);
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
    margin: clamp(2rem, 1.8rem + 0.778vw, 2.5rem) 0;
    transition: background-color 0.3s ease;
}
button a {
    text-decoration: none;
}
button:hover{
    background-color: #c0f92896;
    color: white;
}
.italic{
    font-style: italic;
    font-weight: normal;
}
.statistics{
    display: flex;
    gap: 1rem;
}
.statistics > div{
    width: 90px;
}
.statistics h2{
    color: var(--neon-green);
    font-size: 1.875rem;
    margin-bottom: 5px;
    font-weight: 400;
}
.statistics p{
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 0;
}
@media (min-width: 768px){
    .hero .container{
        grid-template-columns: 1fr 1fr;
        padding: 200px 0;
    }
}

/* Carousel */
.carousel-container{
    padding: 1.5rem 0;
    width: 100%;
    border-top: var(--border);
    border-bottom: var(--border);
    overflow-x: auto;
    white-space: nowrap;
}
.carousel-container::-webkit-scrollbar{
    display: none;
}
.carousel-container-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 48px;    
    animation: loop 15s linear infinite;
    margin-right: 48px;
}
@keyframes loop{
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-50%);
    }
}
.flex-items{
    display: flex;
    font-size: 1.5rem;
    line-height: 1.2;
    flex: 0 0 5em;
    align-items: center;
    gap: 48px;
    white-space: nowrap;
}
@media (min-width: 768px){
    .carousel-container-inner{
        gap: 48px;    
        animation: loop 40s linear infinite;
        margin-right: 48px;
    }
    .flex-items{
        font-size: 1.875rem;
        line-height: 1.2;
        gap: 48px;
    }
}

/* SERVICES */

.services{
    display: flex;
    justify-content: center;
    width: 100%;
}
.services .container{
    padding-left: 0;
    padding-right: 0;
    margin: 0 20px;
    display: grid;
    gap: 3.125rem;
}
.intro{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.intro > span, .intro > p{
    color: var(--neon-green);
    font-size: clamp(0.75rem, 0.7rem + 0.195vw, 0.875rem);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.card-container{
    display: grid;
    gap: 0.8rem;
}
.card{
    background-color: rgb(18, 18, 11);
    padding: 2rem;
    border: var(--border);
    border-radius: 30px;
}
.card span{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(154 153 141);
}
.card h3{
    margin: 1.5rem 0 1rem 0;
    font-weight: 700;
}
.card p{
    font-weight: 500;
}
.card-span{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: flex-start;
    background-color: var(--neon-green);
    color: black;
}
.card-span span, .card-span p{
    color: black;
}
.card-span div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 1.5rem;
    text-align: center;
}
@media (min-width: 768px){
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-span{
        grid-column: span 2;
        grid-row: span 3;
    }
    .card-span div{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* -----More Services----- */

.more-services{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: var(--border);
    border-bottom: var(--border);
}
.more-services .container{
    display: grid;
    gap: 3.125rem;
}
.more-services .textcontent > p{
    margin-bottom: 2.5rem;
}
.textcontent ul{
    display: flex;
    flex-direction: column;
    color: rgb(154 153 141);
    gap: 20px;
    padding: 0;
    list-style-position: inside;
    font-weight: 600;
}
.card-container2{
    display: grid;
    gap: 1rem;
}
.card2{
    background-color: rgb(18, 18, 11);
    padding: 2rem;
    border: var(--border);
    border-radius: 30px;
    color: rgb(154 153 141);
}
.card2 .card-header{
    margin-bottom: 2rem;
    border-bottom: var(--border);
}
.card2 .card-header h3{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}
.card2 .card-header h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.card2 .card-body ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    list-style-position: inside;
    color: rgb(154 153 141);
    font-weight: 500;
}
#alt-style{
    background-color: var(--neon-green);
    color: black;
}
#alt-style ul{
    color: black;
}
@media (min-width: 768px){
    .more-services .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-container2{
        grid-template-columns: repeat(2, 1fr);
    }
    .card2 .card-header{
        margin-bottom: 3rem;
    }
}

/* Entre em contato */

.getintouch{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom: var(--border);
}
.getintouch .container{
    display: grid;
    gap: 2rem;
    background-color: rgb(18, 18, 11);
    border: var(--border);
    border-radius: 30px;
    padding: 2rem;
}
.getintouch .textcontent > p{
    margin-bottom: 1.5rem;
}
.textcontent a{
    text-decoration: none;
    font-size: clamp(1rem, 0.95rem + 0.195vw, 1.125rem);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: rgb(154 153 141);
}
.contact-option-container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.contact-option{
    display: flex;
    align-items: center;
    gap: 0.87rem;
}
.contact-option a:hover{
    color: rgb(192, 249, 40);
}
.contact-option svg{
    color: var(--neon-green);
    width: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
    height: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
}
.material-symbols-outlined{
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: var(--neon-green);
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: 0.80rem;
    font-weight: 500;
}
form div{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 6px;
}
form input, form select, form textarea{
    box-sizing: border-box;
    padding: 11px 14px;
    background-color: rgb(0, 0, 0);
    border: var(--border);
    border-radius: 20px;
    width: 100%;
    font-size: 0.9375rem;
    color: white;
    outline: none;
}
input:autofill, select:autofill, textarea:autofill{
    background-color: rgb(0, 0, 0);
}
select{
    cursor: pointer;
    padding-right: 36px;
    color: white;
}
textarea{
    resize: vertical;
    min-height: 150px;
}
form button{
    padding: 13px 24px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-transform: none;
    margin-top: 0.25rem;
    margin-bottom: 0;
}

@media (min-width: 768px){
    .getintouch{
        padding: 100px 0;
    }
    .getintouch .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
footer .container{
    display: grid;
    gap: 2rem;
    /* justify-content: center; */
    align-items: center;
    padding: 50px 0;
}
footer a{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.125rem;
    letter-spacing: normal;
    line-height: 1.175;
    font-weight: 700;
    gap: 0.25rem;
    color: white;
    text-decoration: none;
}
.copyright p{
    font-size: clamp(0.75rem, 0.661rem + 0.238vw, 0.875rem);
}
@media (min-width: 768px){
    footer .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .copyright{
        text-align: center;
    }
    footer a{
        margin-left: 20px;
    }
}


/* ABOUT PAGE */

.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
}
.about-us .container{
    padding: 100px 0 50px 0;
    margin: 0 20px;
}
.about-us h1{
    line-height: 0.65em;
}
.purpose{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: var(--border);
    border-bottom: var(--border);
}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: var(--border);
}
.team-profiles{
    display: grid;
    gap: 3rem;
    margin-top: 50px;
}
.team-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.team-member > h3{
    margin-bottom: 1rem;
}
.team-member > h4{
    margin-bottom: 1rem;
}
.frame{
    width: 300px;
    height: 300px;
    border: 2px solid var(--neon-green);
    border-radius: 200px;
    overflow: hidden;
    margin-bottom: 1rem;
}
.frame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}
@media (min-width: 768px){
    .team-profiles{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1020px){
    .team-profiles{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* PORTIFOLIO PAGE */

.portfolio{
    display: flex;
    justify-content: center;
    width: 100%;
}
.portfolio .container{
    display: grid;
    gap: 2rem;
    padding: 100px 0 50px 0;
}
.deliver-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(18, 18, 11);
    border: var(--border);
    border-radius: 30px;
}
.deliver-card{
    padding: 2rem;
    border-bottom: var(--border);
}
.deliver-card h2{
    margin-top: 1.5rem;
}
.remove-border{
    border: none;
}
@media (min-width: 768px){
    .portfolio .container{
        padding: 180px 0 100px 0;
    }
}
@media (min-width: 1020px){
    .deliver-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: none;
    }
    .deliver-card{
        border-right: var(--border);
        border-bottom: none;
    }
    .remove-border{
        border: none;
    }
}

/* PROJECTS */

.projects{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: var(--border);
    border-bottom: var(--border);
}
.projects .container{
    display: grid;
    gap: 2rem;
}
.projects-container{
    display: grid;
    width: 100%;
    gap: 2rem;
}
.projects-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects-main button{
    margin: 0;
    border-radius: 99999px;
    padding: 0;
    width: 60px;
    height: 60px;
}
.projects-main button a{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
button .bi-arrow-up-right{
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 1px;
    paint-order: stroke fill;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: size 0.3s ease;
}
button:hover .bi-arrow-up-right{
    width: 20px;
    height: 20px;
}
.projects-card{
    display: grid;
    gap: 2rem;
    background-color: var(--alt-background);
    border: var(--border);
    padding: 30px 30px 0 30px;
    border-radius: 30px;
    width: 100%;
}
.projects-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.projects-img img{
    object-fit: cover;
    width: 100%;
}
@media (min-width: 768px){
    .projects-container{
        grid-template-columns: 1fr 1fr;
    }
}